---
layout: default
title: Home
---
<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h4>About</h4>
  <p>
   <p>
     I am a final year Ph.D. candidate in the <a href="http://nlp.cs.ubc.ca/">NLP group</a> at the <a href="https://www.ubc.ca/">University of British Columbia (UBC)</a> supervised by Prof. <a href="https://www.cs.ubc.ca/~carenini/">Giuseppe Carenini</a>. 
     I received my M.S. in Computer Science from <a href="https://www.colorado.edu/">University of Colorado Boulder</a> where I worked with Dr. <a href="http://www.michaeljpaul.com/">Michael J. Paul</a>, and completed my B.S. in Management Information System at <a href="http://eng.suda.edu.cn/">Soochow University</a>.
   </p>
   <p>
     My primary research interests lie in the area of natural language processing (NLP) and machine learning (ML), with a focus on designing and implementing computational models to better understand natural language in various forms. 
     In particular, my research experience during my master's and Ph.D. journey spans such domains:
     <ul>
        <li>
          Topic Segmentation
        </li>
        <li>
          Topic Modeling
        </li>
        <li>
          Text Summarization
        </li>
        <li>
          Discourse Parsing
        </li>
        <li>
          Large Language Models
        </li>
      </ul>
   </p>
  </p>
</div>


<!-- ========== News ========== -->
<div class="docs-section" id="news">
  <h4>News</h4>
    <ul>
      <li>
        <b style="color:cadetblue">[May. 2023]</b>&nbsp&nbsp
        Two papers have been accepted to the main and demo track of <b>ACL 2023</b>!
      </li>
      <li>
        <b style="color:cadetblue">[Jan. 2023]</b>&nbsp&nbsp
        I will start the NLP researcher intern at <b>Vancouver Research Center of Huawei Canada</b>!
      </li>
      <li>
        <b style="color:cadetblue">[Oct. 2022]</b>&nbsp&nbsp
        One paper has been accepted to <b>EMNLP 2022</b>!
      </li>
      <li>
        <b style="color:cadetblue">[Apr. 2022]</b>&nbsp&nbsp
        I will start the research scientist intern at <b>Adobe</b>, mentored by Dr. Quan Tran!
      </li>
      <li>
        <b style="color:cadetblue">[Mar. 2022]</b>&nbsp&nbsp
        &#129395; Passed my thesis proposal examination!
      </li>
    </ul>
</div>


<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h4>Education</h4>
        <div class="paper">
          <p class="title"><b>University of British Columbia (UBC)<b style="float:right;">Sept. 2018 - Present</b></b></p>
          
          <p>Ph.D. in Computer Science (NLP)</p>
          <p>Supervisor: Prof. Giuseppe Carenini</p>
          <p></p>
        </div>

        <div class="paper">
          <p class="title"><b>University of Colorado Boulder<b style="float:right;">Aug. 2016 - May. 2018</b></b></p>
          
          <p>M.S. in Computer Science</p>
          <p>Supervisor: Dr. Michael J. Paul</p>
          <p></p>
        </div>
      
        <div class="paper">
          <p class="title"><b>Soochow University<b style="float:right;">Sept. 2012 - June. 2016</b></b></p>
          
          <p>B.S. in Management Information System</p>
          <p>GPA: 3.7/4.0 (Rank: 1/40)</p>
          <p></p>
        </div>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Resume [for academia] in <a href={{ "/assets/cv/cv_academia.pdf" | prepend: site.baseurl }} target="_blank">PDF</a> (last update: 2023.07.30).</p>
  <p>Resume [for industry] in <a href={{ "/assets/cv/cv_industry.pdf" | prepend: site.baseurl }} target="_blank">PDF</a> (last update: 2023.07.30).</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
